.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 8%; /* Adjusted margin-top to be higher */
    width: 90%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    border-radius: 30px; /* Added border-radius */
}

/*Sign Up / Login*/
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}

.text {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
}

.underline {
    width: 50px;
    height: 5px;
    background: #fff;
    border-radius: 9px;
}

.inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 480px;
    height: 60px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img {
    margin: 0 20px;
}

/*Input icons*/
.input input {
    height: 50px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: black; /* Changed text color to black */
}

.submit-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px auto;
    width: 100%;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 220px;
    height: 50px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    margin: auto;
}

.gray {
    background: #eaeaea;
    color: #676767;
}

@media (min-width: 768px) {
    .submit-container {
        flex-direction: row;
    }
}
/* Additional styles for confirmation message */
.confirmation {
    color: #0f0;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}
