.custom-navbar {
    background: linear-gradient(to right, #6a11cb, #2575fc);
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link,
.custom-navbar .nav-dropdown {
    color: #fff;
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav-dropdown:hover {
    color: #ccc;
}

.custom-navbar .navbar-toggler-icon {
    background-color: #fff;
}
